* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(63, 19, 102);
    color: #fff;
}

.navbar-nav .nav-link.active {
    color: white;
}

.nav-link {
    text-align: center;
}

section {
    padding: 40px 0;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1030;
    background-color: #fff;
    color: black;
}

.inicio {
    margin: 32px;
    padding: 8px;
    margin-bottom: 32px;
    padding-top: 120px;
}

.inicio p {
    text-align: justify;
}

.consoles {
    margin-bottom: 64px;
    padding-top: 120px;
}

.card {
    margin-bottom: 20px;
}

.consoles h2 {
    margin: 64px;
}

.contato {
    padding-top: 100px;
}

.formulario {
    width: 400px;
}

.btn-success {
    margin-top: 16px;
    width: 150px;
}